{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "loose": false,
    "minify": {
      "compress": false,
      "mangle": false
    },
    "experimental": {
      "plugins": [
        [
          "@lingui/swc-plugin",
          {
            "stripNonEssentialFields": false,
            "runtimeModules": {
              "i18n": ["@lingui/core", "i18n"],
              "trans": ["@lingui/react", "Trans"]
            }
          }
        ]
      ]
    }
  },
  "module": {
    "type": "es6"
  },
  "minify": false
}
