version: 2.1

orbs:
  vault: contentful/vault@1

executors:
  linux-node:
    resource_class: xlarge
    docker:
      - image: cimg/node:16.18
    environment:
      CYPRESS_INSTALL_BINARY: 0
  linux-cypress:
    resource_class: xlarge
    docker:
      - image: cypress/browsers:node16.18.0-chrome107-ff106-edge
    environment:
      TZ: UTC
      CYPRESS_CACHE_FOLDER: ~/.cache/Cypress

#  macos:
#    macos:
#      xcode: 11.4

cache-key: &cache-key
  key: dependency-cache-primary-{{ arch }}-yarn-packages-{{ checksum ".nvmrc" }}-{{ checksum "yarn.lock" }}

commands:
  yarn_install:
    steps:
      - restore_cache: *cache-key
      - run: yarn install --prefer-offline --pure-lockfile
      - save_cache:
          <<: *cache-key
          paths:
            - ~/.cache/yarn
  yarn_serve:
    steps:
      - run:
          command: npx http-server dist -p 9000
          background: true
      - run: yarn wait-on -t 60000 http://localhost:9000

jobs:
  lint:
    executor: linux-node
    steps:
      - checkout
      - yarn_install
      - run: yarn lint
      - run: yarn build
      - run: yarn tsc
  unit-tests:
    executor: linux-node
    steps:
      - checkout
      - yarn_install
      - run: yarn build
      - run: yarn test:ci
      - store_test_results:
          path: reports

  integration-tests:
    parameters:
      executor:
        type: executor
      browser:
        type: enum
        # firefox has been disabled temporarily until further investigation
        enum: [chrome, edge]

    parallelism: 3
    executor: << parameters.executor >>
    steps:
      - checkout
      - yarn_install
      - run: yarn build
      - run: yarn build-storybook
      - yarn_serve
      - run:
          command: |
            TESTFILES=$(circleci tests glob "cypress/e2e/**/*.ts" | circleci tests split --split-by=timings --timings-type=filename | awk '{if (NR>1) printf ","; printf "%s", $0} END {if (NR>0) printf " "}')
            npx cypress run \
              --spec "${TESTFILES}" \
              --reporter junit \
              --reporter-options "mochaFile=./cypress/reports/e2e/test-results.[hash].xml" \
              --browser << parameters.browser >>
      - store_test_results:
          path: cypress/reports/e2e
      - store_artifacts:
          path: cypress/screenshots
      - store_artifacts:
          path: cypress/videos

  component-tests:
    executor: linux-cypress
    steps:
      - checkout
      - yarn_install
      - run: yarn build
      - run:
          name: Run cypress component tests
          command: |
            TESTFILES=$(circleci tests glob cypress/component/**/*.ts | circleci tests split --split-by=timings --timings-type=filename | tr '\n' ',')
            npx cypress run --component \
              --spec "${TESTFILES}" \
              --reporter junit \
              --reporter-options "mochaFile=./cypress/reports/component/test-results.[hash].xml" \
              --browser chrome
      - store_test_results:
          path: cypress/reports/component
      - store_artifacts:
          path: cypress/videos

  release:
    executor: linux-node
    steps:
      - checkout
      - yarn_install
      - vault/get-secrets:
          template-preset: semantic-release-ecosystem
      - vault/configure-lerna
      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc
      - run: yarn build
      - run: yarn lerna version --no-private --conventional-commits --create-release github --yes
      - run: yarn lerna publish from-git --yes

workflows:
  version: 2
  # run on every commit
  commit:
    jobs:
      - lint:
          context: vault
      - unit-tests:
          context: vault
      - component-tests:
          context: vault
      - integration-tests:
          name: integration-<< matrix.executor >>-<< matrix.browser >>
          context: vault
          matrix:
            alias: integration-tests-linux
            parameters:
              executor: [linux-cypress]
              browser: [chrome, edge]
      - release:
          context: vault
          filters:
            branches:
              only: master
          requires:
            - lint
            - unit-tests
            - integration-tests-linux
