version: 2.1

executors:
  linux-node:
    resource_class: xlarge
    docker:
      - image: cimg/node:14.17
    environment:
      CYPRESS_INSTALL_BINARY: 0
  linux-cypress:
    resource_class: xlarge
    docker:
      - image: cypress/browsers:node14.17.0-chrome91-ff89
    environment:
      TZ: UTC
      CYPRESS_CACHE_FOLDER: ~/.cache/Cypress
  linux-cypress-edge:
    resource_class: xlarge
    docker:
      - image: cypress/browsers:node12.18.4-edge88
#  macos:
#    macos:
#      xcode: 11.4

cache-key: &cache-key
  key: dependency-cache-primary-{{ arch }}-yarn-packages-{{ checksum ".nvmrc" }}-{{ checksum "yarn.lock" }}

commands:
  yarn_install:
    steps:
      - restore_cache: *cache-key
      - run: 'echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc'
      - run: yarn install --prefer-offline --pure-lockfile
      - save_cache:
          <<: *cache-key
          paths:
            - ~/.cache/yarn
  yarn_serve:
    steps:
      - run:
          command: yarn serve .docz/dist -n -s -p 9000
          background: true
      - run: yarn wait-on -t 60000 http://localhost:9000

jobs:
  lint:
    executor: linux-node
    steps:
      - checkout
      - yarn_install
      - run: yarn lint
      - run: yarn build
      - run: yarn tsc
  unit-tests:
    executor: linux-node
    steps:
      - checkout
      - yarn_install
      - run: yarn build
      - run: yarn test:ci

  integration-tests:
    parameters:
      executor:
        type: executor
      browser:
        type: enum
        enum: [chrome, firefox, edge]

    parallelism: 3
    executor: << parameters.executor >>
    steps:
      - checkout
      - yarn_install
      - run: yarn build
      - run: yarn docz:build
      - yarn_serve
      - run:
          command: |
            TESTFILES=$(circleci tests glob "cypress/integration/**/*.ts" | circleci tests split --split-by=timings --timings-type=filename | tr '\n' ',')
            npx cypress run --spec "${TESTFILES}" --browser << parameters.browser >>
      - store_test_results:
          path: cypress/results
      - store_artifacts:
          path: cypress/screenshots
      - store_artifacts:
          path: cypress/videos

  release:
    executor: linux-node
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - '0a:3c:fe:6b:3d:08:6c:0e:d2:8d:ae:d4:5a:82:89:b3'
      - run: git config --global user.email "prd-dev-workflows+ecosystem-bot@contentful.com"
      - run: git config --global user.name "contentful-ecosystem-bot"
      - yarn_install
      - run: yarn build
      - run: yarn lerna version --no-private --conventional-commits --create-release github --yes
      - run: yarn lerna publish from-git --yes

workflows:
  version: 2
  # run on every commit
  commit:
    jobs:
      - lint
      - unit-tests
      - integration-tests:
          name: integration-<< matrix.executor >>-<< matrix.browser >>
          matrix:
            alias: integration-tests-linux-chrome-ff
            parameters:
              executor: [linux-cypress]
              browser: [chrome, firefox]
      - integration-tests:
          name: integration-<< matrix.executor >>-<< matrix.browser >>
          matrix:
            alias: integration-tests-linux-edge
            parameters:
              executor: [linux-cypress-edge]
              browser: [edge]
      - release:
          filters:
            branches:
              only: master
          requires:
            - lint
            - unit-tests
            - integration-tests-linux-chrome-ff
