.pika-single.is-hidden {
  display: none;
}
.pika-single {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  z-index: 200;
  min-width: 19ex;
  position: absolute;
  padding: 0.3rem 0;
  border: 1px solid #d3dce0;
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  width: 230px;
  padding: 8px;
  margin-top: 13px;
  position: relative;
}
.pika-single:after,
.pika-single:before {
  content: '';
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.pika-single:after {
  border-width: 9px 5px;
  margin-left: -5px;
}
.pika-single:before {
  border-width: 11px 7px;
  margin-left: -7px;
}
.pika-single:after,
.pika-single:before {
  bottom: 100%;
}
.pika-single:after {
  border-bottom-color: #fff;
}
.pika-single:before {
  border-bottom-color: #d3dce0;
}
.hide-carret {
  margin-top: 5px;
}
.hide-carret:after,
.hide-carret:before {
  display: none;
}
.pika-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  -webkit-box-align: baseline;
  align-items: baseline;
  margin-bottom: 6px;
}
.pika-label {
  display: inline-block;
  overflow: hidden;
  font-size: 14px;
  padding: 5px 3px 0 3px;
  margin-bottom: 5px;
  line-height: 20px;
  position: relative;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: transparent;
}
.pika-label > select {
  cursor: pointer;
  position: absolute;
  margin: 0;
  left: 0;
  top: 5px;
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
}
.pika-prev,
.pika-next {
  color: inherit;
  font: inherit;
  font-size: inherit;
  line-height: normal;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  cursor: pointer;
  width: 20px;
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.pika-prev::-moz-focus-inner,
.pika-next::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.pika-prev {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
  margin-right: auto;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMS4yNDEiIGhlaWdodD0iNy4yMTYiIHZpZXdCb3g9Ii0xIC0xIDEzIDkiPjxwYXRoIGQ9Ik0uMTMgNS4zYS40NS40NSAwIDAwMCAuNjM0bDEuMTYgMS4xNTFhLjQ0Mi40NDIgMCAwMC42MjggMEw1LjYyIDMuMzgxbDMuNzA0IDMuNzA0YS40NDIuNDQyIDAgMDAuNjI4IDBsMS4xNTgtMS4xNWEuNDUuNDUgMCAwMDAtLjYzNUw1LjkzNC4xM2EuNDQyLjQ0MiAwIDAwLS42MjcgMEwuMTMgNS4zeiIgZmlsbD0iIzViOWZlZiIvPjwvc3ZnPg==);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.pika-next {
  margin-left: auto;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMS4yNDEiIGhlaWdodD0iNy4yMTYiIHZpZXdCb3g9Ii0xIC0xIDEzIDkiPjxwYXRoIGQ9Ik0uMTMgNS4zYS40NS40NSAwIDAwMCAuNjM0bDEuMTYgMS4xNTFhLjQ0Mi40NDIgMCAwMC42MjggMEw1LjYyIDMuMzgxbDMuNzA0IDMuNzA0YS40NDIuNDQyIDAgMDAuNjI4IDBsMS4xNTgtMS4xNWEuNDUuNDUgMCAwMDAtLjYzNUw1LjkzNC4xM2EuNDQyLjQ0MiAwIDAwLS42MjcgMEwuMTMgNS4zeiIgZmlsbD0iIzViOWZlZiIvPjwvc3ZnPg==);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.pika-select {
  display: inline-block;
}
.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0;
}
.pika-table th {
  font-weight: normal;
}
.pika-table {
  font-size: 12px;
}
.pika-table thead {
  line-height: 25px;
  text-align: center;
}
.pika-table thead th {
  background: #e5ebed;
}
.pika-table thead th:first-child {
  border-radius: 3px 0 0 3px;
}
.pika-table thead th:last-child {
  border-radius: 0 3px 3px 0;
}
.pika-table thead abbr {
  border-bottom: none;
  cursor: help;
}
.pika-table .is-today {
  font-weight: bold;
}
.pika-button {
  color: inherit;
  font: inherit;
  font-size: inherit;
  line-height: normal;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border-radius: 3px;
}
.pika-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.is-selected .pika-button {
  background: #e5ebed;
}
.pika-button:hover {
  color: #fff;
  background: #5b9fef;
}
.pika-row .is-disabled {
  opacity: 0.3;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
  filter: alpha(opacity=30);
}
