name: 'dependabot approve-and-request-merge'

on: pull_request_target

jobs:
  build:
    permissions:
    pull-requests: read
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Fetch Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v1
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
  worker:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    if: ${{github.actor == 'dependabot[bot]' && !contains(steps.dependabot-metadata.outputs.dependency-names, 'slate') && !contains(steps.dependabot-metadata.outputs.dependency-names, 'plate')}}
    steps:
      - uses: contentful/github-auto-merge@v1
        with:
          VAULT_URL: ${{ secrets.VAULT_URL }}
